extends layout

block content
    .mycontainer
        .title About
        .about
            p CrocShare is a platform for sharing educational resources. It was developed as a project within the Web Engineering course in the Software Engineering degree.
            p It is a simple and intuitive application that allows the sharing of resources, either publicly or privately. If you choose to share a resource privately, you can add users and/or groups previously created to have access to the resource.
            p The resources are organized according to their category. On the home page there are filters that make it possible to view resources by category, year, among other alternatives that facilitate the search.
            p You can save resources as favorites and they become available for viewing on your account page. You can also comment on resources, as well as edit or delete your comments.
            p There are three user levels: administrator, producer and consumer. When creating an account you can choose between producer or consumer. The producer can upload resources, delete his own resources, create and manage his groups. The consumer can only download resources, comment on them and save them as favorites.
            p Administrators can delete any resources, groups, or comments in order to maintain the rules in case of improper user behavior. They are also the only ones allowed to create categories.
        
            

