extends layout

block content
    .container
        .title Upload Form
        .content
        form(action='' method='post')
          .user-details
            .input-box
              span.details Title
              input(type='text' placeholder='Enter a title' required='')
            .input-box
              span.details Description
              input(type='text' placeholder='Enter a short description' required='')
          .gender-details
            input#dot-1(type='radio' name='gender')
            input#dot-2(type='radio' name='gender')
            span.gender-title Visibility
            .category
              label(for='dot-1')
                span.dot.one
                span.gender Public
              label(for='dot-2')
                span.dot.two
                span.gender Private
              .hidden#groupsHidden
                .search-wrapper
                  i.fa-solid.fa-magnifying-glass
                  input.search-groups#searchInput(type='text' placeholder='Search here')
                  
          .drop-zone 
            input.upload_hide#fileInput(type="file" name="myFile" required)
            label.upload_label(for="upload_costum")  
              h3 Drag your file or click to upload
              i.fa-solid.fa-cloud-arrow-up
          section.hidden.uploaded-area#fileInfo

             
          .button
            input(type='submit' value='Register')

