extends layout

block content
    .container-wrapper 
        .mycontainer.container-left 
            .title Researchers              
            .header-files 
                .header-title Title
                .header-details
                  .header-detail Author
                  .header-detail Date
                  .header-detail Type
                  .header-detail Size
            
            .files-list
                .header-title This is an example of a file title
                .header-details
                  .header-detail Mimi
                  .header-detail 26-04-2023
                  .header-detail JPEG
                  .header-detail 84 kb
            .files-list
                .header-title This is an example of a file title
                .header-details
                  .header-detail Mimi
                  .header-detail 26-04-2023
                  .header-detail JPEG
                  .header-detail 84 kb
            .files-list
                .header-title This is an example of a file title
                .header-details
                  .header-detail Mimi
                  .header-detail 26-04-2023
                  .header-detail JPEG
                  .header-detail 84 kb
            .files-list
                .header-title This is an example of a file title
                .header-details
                  .header-detail Mimi
                  .header-detail 26-04-2023
                  .header-detail JPEG
                  .header-detail 84 kb
            .files-list
                .header-title This is an example of a file title
                .header-details
                  .header-detail Mimi
                  .header-detail 26-04-2023
                  .header-detail JPEG
                  .header-detail 84 kb
            .files-list
                .header-title This is an example of a file title
                .header-details
                  .header-detail Mimi
                  .header-detail 26-04-2023
                  .header-detail JPEG
                  .header-detail 84 kb
            .files-list
                .header-title This is an example of a file title
                .header-details
                  .header-detail Mimi
                  .header-detail 26-04-2023
                  .header-detail JPEG
                  .header-detail 84 kb
            .files-list
                .header-title This is an example of a file title
                .header-details
                  .header-detail Mimi
                  .header-detail 26-04-2023
                  .header-detail JPEG
                  .header-detail 84 kb
            .files-list
                .header-title This is an example of a file title
                .header-details
                  .header-detail Mimi
                  .header-detail 26-04-2023
                  .header-detail JPEG
                  .header-detail 84 kb
            .files-list
                .header-title This is an example of a file title
                .header-details
                  .header-detail Mimi
                  .header-detail 26-04-2023
                  .header-detail JPEG
                  .header-detail 84 kb
            .files-list
                .header-title This is an example of a file title
                .header-details
                  .header-detail Mimi
                  .header-detail 26-04-2023
                  .header-detail JPEG
                  .header-detail 84 kb
        .mycontainer.container-right 
            .title Participants 
                i.fa-solid.fa-gear
            .news-list
                .comment
                        .comment-author
                            i.fa-solid.fa-user
                            span UserName
                .comment
                        .comment-author
                            i.fa-solid.fa-user
                            span UserName
                .comment
                        .comment-author
                            i.fa-solid.fa-user
                            span UserName
                .comment
                        .comment-author
                            i.fa-solid.fa-user
                            span UserName
                .comment
                        .comment-author
                            i.fa-solid.fa-user
                            span UserName
                        
                