extends layout

block content
  .main
    input#chk(type='checkbox' aria-hidden='true')
    .login
      form
        label(for='chk' aria-hidden='true') Login
        input(type='email' name='email' placeholder='Email' required='')
        input(type='password' name='pswd' placeholder='Password' required='')
        a(href='') Forgot your password?
        button.form Login
        .social
          button.go
            i.fa.fa-google
          button.fb
            i.fa.fa-facebook-square
    .signup
      form
        label(for='chk' aria-hidden='true') Sign up
        input(type='email' name='email' placeholder='Email' required='')
        input(type='password' name='pswd' placeholder='Password' required='')
        input(type='password' name='pswd' placeholder='Confirm Password' required='')
        button.form Sign up
        .social
          button.go
            i.fa.fa-google
          button.fb
            i.fa.fa-facebook-square


  

