extends layout

block content
  .main
    input#chk(type='checkbox' aria-hidden='true')
    .login
      form
        label(for='chk' aria-hidden='true') Login
        input(type='email' name='email' placeholder='Email' required='')
        input(type='password' name='pswd' placeholder='Password' required='')
        a(href='') Forgot your password?
        button.form Login
        .social
          button.go
            i.fa.fa-google
          button.fb
            i.fa.fa-facebook-square
    .signup
      form
        label(for='chk' aria-hidden='true') Sign up
        input(type='email' name='email' placeholder='Email' required='')
        input#passwordInput(type='password' name='pswd' placeholder='Password' required='')
        input#confirmPasswordInput(type='password' name='pswd' placeholder='Confirm Password' required='')
        .strength-wrapper
          .strength-meter#strengthMeter
          span#strengthLevel
        ul#passwordRequirements.password-requirements
          li#lengthReq At least 8 characters
          li#uppercaseReq At least one uppercase letter
          li#lowercaseReq At least one lowercase letter
          li#numberReq At least one number
          li#specialCharReq At least one special character
          li#passwordMatchReq Passwords match 
        button.form Sign up
        .social
          button.go
            i.fa.fa-google
          button.fb
            i.fa.fa-facebook-square
    


  

