doctype html
html
  head
    title Croc Simulator
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src='/javascripts/main.js')
    script(src='/javascripts/previewFile.js' defer)
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src="https://kit.fontawesome.com/04dc1a06b7.js", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    script(src='/javascripts/search.js')
    script(src='/javascripts/filters.js')
    script(src='/javascripts/groups.js')
    
  body
    header.topnav#myTopnav
      a(href='/recursos') Croc Simulator
      if username
        a(href='/profile/' + username) Account
      a(href='#about') About
      if level && level != "consumer" 
        a(href='/uploadForm') Upload
      a(href='/recursos') Home
      a.icon(href='javascript:void(0);' onclick='myFunction()')
        i.fa.fa-bars
    block content
  footer.footer 
    .footer-left.col-md-4.col-sm-6
      p.about 
        h3 Projeto de Engenharia Web
        p Plataforma de Gestão e Disponibilização de Recursos Educativos
    .footer-center.col-md-4.col-sm-6
      h3 Useful links
      div
        p
          a(href='#') Terms and Conditions
      div
        p  
          a(href='#') SOS
      div
        p
          a(href='#')  manuelinho2002@company.com
      div
        p
          a(href='#')  Não sei
    .footer-right.col-md-4.col-sm-6
      h1 
        | Croc Simulator 
      p.menu
        a(href='#')   Home
        |  |
        a(href='#')   &nbsp About
        |  |
        a(href='#')   &nbsp Services
        |  |
        a(href='#')   &nbsp Portfolio
        |  |
        a(href='#')   &nbsp News
        |  |
        a(href='#')   &nbsp Contact
      p.name  Croc Simulator &copy; 2023

