doctype html
html
  head
    title Croc Simulator
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src='/javascripts/main.js')
  body
    header.topnav#myTopnav
      a(href='#') Croc Simulator
      a(href='#news') News
      a(href='#contact') Contact
      a(href='#about') About
      a(href='#about') About
      a(href='#about') About
      a.icon(href='javascript:void(0);' onclick='myFunction()')
        i.fa.fa-bars
    block content
