doctype html
html
  head
    title Croc Simulator
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src='/javascripts/main.js')
    script(src='/javascripts/previewFile.js' defer)
    script(src="https://kit.fontawesome.com/04dc1a06b7.js", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
  body
    header.topnav#myTopnav
      a(href='#') Croc Simulator
      a(href='#news') News
      a(href='#contact') Contact
      a(href='#about') About
      a(href='#about') About
      a(href='#about') About
      a.icon(href='javascript:void(0);' onclick='myFunction()')
        i.fa.fa-bars
    block content
  footer.footer 
    .footer-left.col-md-4.col-sm-6
      p.about 
        h3 Projeto de Engenharia Web
        p Texto sobre o projeto
      .icons 
        a(href='#')
          i.fa.fa-facebook
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-linkedin
        a(href='#')
          i.fa.fa-google-plus
        a(href='#')
          i.fa.fa-instagram
    .footer-center.col-md-4.col-sm-6
      h3 Useful links
      div
        p
          a(href='#') Terms and Conditions
      div
        p  
          a(href='#') SOS
      div
        p
          a(href='#')  manuelinho2002@company.com
      div
        p
          a(href='#')  Não sei
    .footer-right.col-md-4.col-sm-6
      h1 
        | Croc Simulator 
      p.menu
        a(href='#')   Home
        |  |
        a(href='#')   &nbsp About
        |  |
        a(href='#')   &nbsp Services
        |  |
        a(href='#')   &nbsp Portfolio
        |  |
        a(href='#')   &nbsp News
        |  |
        a(href='#')   &nbsp Contact
      p.name  Croc Simulator &copy; 2023

