/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  
  --hue-color: 201; 
  --second-hue: 189;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 100%, 50%);
  --first-color-second: hsl(var(--hue-color), 100%, 85%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-darker: hsl(var(--hue-color), 100%, 21%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 60%, 96%);
  --body-color: hsl(var(--hue-color), 35%, 88%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color),12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color),12%, 80%);

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-1-75: 1.75rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-3-125: 3.125rem;
  --mb-9: 9rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 900px) {
  :root {
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
     /* HSL color mode */
     --first-color-second: hsl(var(--hue-color), 30%, 8%);
     --title-color: hsl(var(--hue-color), 8%, 95%);
     --text-color: hsl(var(--hue-color), 8%, 75%);
     --input-color: hsl(var(--hue-color), 29%, 16%);
     --body-color: hsl(var(--hue-color), 28%, 12%);
     --container-color: hsl(var(--hue-color), 29%, 16%);
     --scroll-bar-color: hsl(var(--hue-color),12%, 48%);
     --scroll-thumb-color: hsl(var(--hue-color),12%, 36%);
}

/*========== Button Dark/Light ==========*/
.nav__btns{
  display: flex;
  align-items: center;
}

.change-theme{
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover{
  color: var(--first-color);
}

/*==================== BASE ==================== */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  min-height: 100vh;
}

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

img{
  max-width: 100%;
  height: auto;
}


/*==================== NAVBAR ==================== */

/* Add a black background color to the top navigation */
.topnav {
  background: linear-gradient(135deg, var(--first-color-darker), var(--first-color), var(--first-color-second));
  overflow: hidden;
  margin-bottom: var(--mb-3-125);
  box-shadow: 0 5px 10px var(--first-color-darker);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: var(--mb-1-5);
  text-decoration: none;
  font-size: var(--h2-font-size);
}

.topnav a:not(:first-child){
  float: right;
  padding-top: var(--mb-3);
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--first-color-second);
  color: var(--first-color);
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: var(--first-color-second);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.topnav a:first-child{
  font-size: var(--h1-font-size);
  padding-top: var(--mb-1-75);
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 968px) {
  .topnav a:not(:first-child) {display: none;}
    
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav a:first-child{
    font-size: var(--h1-font-size);
    padding-top: var(--mb-3);
  }


}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 968px) {
  .topnav.responsive {
    position: relative;  
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

}


/*==================== FOOTER ==================== */
.footer {
  background: linear-gradient(135deg, var(--first-color-darker), var(--first-color), var(--first-color-second));
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  padding: 30px;
  margin-top: 50px;
  box-shadow: 0 -5px 10px var(--first-color-darker);
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: whitesmoke;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: whitesmoke;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer p {
  color: whitesmoke;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: var(--first-color-darker);
  border-radius: 2px;
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: var(--first-color-darker);
  color: whitesmoke;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  vertical-align: middle;
}


.footer .footer-center p {
  display: inline-block;
  color: whitesmoke;
  vertical-align: middle;
  margin: 0;
  margin-bottom: 10px;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: whitesmoke;
  text-decoration: none;
}

.footer .footer-center p a:hover {
  color: var(--first-color-second);
  font-size:larger;
}


/* footer right*/

.footer .footer-right {
  width: 30%;
}

.footer h2 {
  color: whitesmoke;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: whitesmoke;
}

.footer .menu {
  color: #ffffff;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 968px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}

/*==================== LOGIN / SIGNUP FORM ==================== */

.main{
	width: 40%;
	height: 800px;
	background: var(--first-color);
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px var(--first-color-darker);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--mb-9);
  margin-bottom: var(--mb-9);

}
#chk{
	display: none;
}
.login{ 
	position: relative;
	width:100%;
	height: 100%;
}

.login label, .signup label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.login input, .signup input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.form{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: var(--first-color-darker);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.form:hover{
	background: var(--first-color-second);
}

.signup{
	height: 760px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.signup label{
	color: var(--first-color);
	transform: scale(.6);
}

#chk:checked ~ .signup{
	transform: translateY(-800px);
}
#chk:checked ~ .signup label{
	transform: scale(1);	
}
#chk:checked ~ .login label{ 
	transform: scale(.6);
}

.strength-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

#strengthMeter {
  display: inline-block;
  width: 50%;
  height: 5px;
  background-color: #FF4D4D;
  transition: width 0.5s, background-color 0.5s;
  position: relative;
}

#strengthLevel {
  display: inline-block;
  margin-left: 5px;
  font-size: var(--mb-1);
  font-weight: bold;
  vertical-align: middle;
}

.password-requirements{
  font-size: var(--mb-0-75);
  margin-top: 3px;
  justify-content: center;
}

.password-requirements li{
  color: #FF4D4D;

  margin: 0 auto;
  width: 200px;
  display: block;
  
  
}


.social{
  margin-top: 30px;
  margin-left: 47%;
  display: flex;
  color: var(--first-color);
}

.go, .fb{
	font-size: var(--mb-1-5);
	font-weight: bold;
  margin-right: var(--mb-0-5);
	outline: none;
	border: none;	
	cursor: pointer;
  background-color: var(--first-color);
}

.signup .go, .signup .fb{
  background-color: #eee;
}

.login a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: var(--mb-0-75);
}

.login a:hover {
  color: var(--first-color-darker);
}

/*==================== UPLOAD FORM ==================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px var(--first-color-darker);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--mb-9);
  margin-bottom: var(--mb-9);
  color: var(--first-color-darker);
}
.container .title{
  font-size: var(--h1-font-size);
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 240px;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--first-color), var(--first-color-second));
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 20px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.details{
  font-size: 20px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: var(--first-color);
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }

 form .category{
   display: block;
   width: 80%;
   margin-top: 10px;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }

form .groups-check {
  margin-top: 5px;
  display: none;
}


 form .gender{
  color: var(--first-color-darker);
  font-size: var(--mb-1);
 }

 form .category label .dot{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two{
   background: var(--first-color);
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin-top: 30px;
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg,  var(--first-color), var(--first-color-second));
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg,  var(--first-color), var(--first-color-second));
  }



  .drop-zone{
    text-align: center;
    margin-top: var(--mb-3-125);
    border-radius: 15px;
    border: 5px dotted var(--first-color-second);
  }
  .drop-zone h3{
    color: var(--first-color-darker);
    margin-bottom: var(--mb-1);
  }

  
  .fa-solid.fa-cloud-arrow-up{
    color: var(--first-color);
    font-size: 6rem;
    margin-bottom: var(--mb-1);
  }

  .upload_hide {
    position: absolute;
    max-width: 700px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    background-color: red;
    transform: translate(-50%, -18%);
    opacity: 0;
}

.hidden{
  display: none;
}

.search-wrapper {
  position: relative;
}

.fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--first-color);
}

.search-groups {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 30px 5px 35px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: border-color 0.3s ease-in-out;
  margin-top: 5px;
}

.search-groups:focus{
  border-color: var(--first-color);
}

section .row{
  margin-top: 15px;
  margin-bottom: 10px;
  background: var(--first-color-light);
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .row i{
  color: var(--first-color);
  font-size: 30px;
}
section .details span{
  font-size: 14px;
}

.uploaded-area{
  max-height: 232px;
  overflow-y: scroll;
}
.uploaded-area.onprogress{
  max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
  width: 0px;
}
.uploaded-area .row .content{
  display: flex;
  align-items: center;
}
.uploaded-area .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.uploaded-area .row .details .size{
  color: #404040;
  font-size: 11px;
}
.uploaded-area i.fa-xmark{
  font-size: 16px;
}

.removeButton {
  background: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

@media(max-width: 968px){

 .container{
  max-width: 60%;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  .container .content .category{
    flex-direction: column;
  }
}

